* {
  box-sizing: border-box;
  font-family: helvetica, monospace, serif, sans-serif;
}

header {
  text-align: center;
  background: black;
  color: white;
  padding: 1px;
  margin: 0px auto;
  max-width: 800px;
  font-weight: 900em;
}

nav {
  text-align: center;
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
}

ul li {
  display: inline-block;
  background-color: grey;
  color: white;
  padding: 5px;
  font-weight: bold;
  /*white-space: nowrap;*/
  /*margin: 0px;*/
}

h2 {
  background-color: teal;
  width: auto;
  padding: 5px;
  font-weight: normal;
  margin-right: 10px;
}

.option {
    list-style-type: none;
    background-color: yellow;
    padding-left: auto;
    width: 233px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
  }

.main_box {
  margin: 25px;
  max-width: 720px;
  margin: 0px auto;
}

.one {
  display: inline-block;
  margin-bottom: : 2px;
  /*line-height: 0;*/
}

footer {
  text-align: center;
  background-color: black;
  font-size: 1em;
  font-weight: bold;
  color: white;
  margin: 0px auto;
  max-width: 800px;
  margin-top: 10px;
  padding: 8px 0;
}
